* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media print {
    @page { margin: 0; }
    body { 
        margin: 0cm;
        -webkit-print-color-adjust: exact;
    }
}

:root {
    /*FONTS*/
    --name-font: 'Fredericka the Great';
    --main-font: 'Montserrat';
    --content-font: 'Roboto';
    --title-font: 'Josefin Sans';

    /*COLORS*/
    --main-yellow: #ead017;
    --main-yellow-darker:#706f38;
    --light-gray: #9D8D8F;
    --light-brown: #9B786F;
    --strong-gray: #5A5560;
    --blue-gray: #212136;
    --blue-gray-darker: #1a1a2e;
    --blue-gray-transparent: #212136f1;

    --navigation-timeline-level-1: #bda913;
    --navigation-timeline-level-2: #8d7e0e;
    --navigation-timeline-level-3: #665b0a;
    --navigation-timeline-level-3: #4b4307;

    /* NUMBERS */
    --page-width: 21.59cm;
    --page-height: 27.94cm
}

#root {
    display: flex;
}

.page {
    min-width: var(--page-width);
    width: var(--page-width);
    max-width: var(--page-width);
    
    min-height: var(--page-height);
    height: var(--page-height);
    max-height: var(--page-height);

    border: 1px solid black;

    margin: 50px;
}

/* RESUME STYLES START */

.main_container {
    background-color: var(--blue-gray);
    height: var(--page-height);
    width: var(--page-width);
}


.h1_name{
    font-family: var(--main-font);
    color: var(--main-yellow);
    font-size: 60px;
    /* padding-left: 20px; */
    padding-top: 20px;
    width: 100%;
    text-align: center;
}
.h2_slogan{
    font-family: var(--main-font);
    color: white;
    /* padding-left: 20px; */
    width: 100%;
    text-align: center;
}
.p_title{
    font-family: var(--content-font);
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
    font-weight: 700;
}
.div_contactInformation{
    display: flex;
    justify-content: space-between;
    width: 95%;
    /* height: 250px; */
    background-color: white;
    margin: auto;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
    padding: 0 30px;
}
.p_contactInformation{
    font-family: var(--content-font);
    color: white;
    padding: 10px;
    background-color: var(--blue-gray);
    border: var(--main-yellow) 1px solid;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    width: 50%;
    position: absolute;
    margin-top: -30px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    
}

.div_informationColumn{
    display: flex;
    flex-direction: column;

    margin-top: 40px;
}
.contactInformationBlock{
    margin-bottom: 12px;
}
.informationTitle{
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 700;
}
.informationData{
    font-family: var(--content-font);
    font-weight: 600;
}
/* RESUME STYLES END */

.btn {
    height: 50px;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(169, 169, 255);
    font-size: 30px;
    font-weight: 600;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    cursor: pointer;
}

.btn--link {
    text-decoration: none;
    background-color: rgb(172, 255, 169);
    font-size: 30px;
}